extends ../_layouts/base

// Add extra stylesheets
block append stylesheets
  link(rel='stylesheet', href= config.baseUrl + 'styles/game.css')

mixin counter(number, separator)
  .counter(class={'-separate': separator})
    - function range (to, start) {
    -   var result = [];
    -   start = start ? start : 0;
    -   for (var i = start; i < to; result.push(i++)) {}
    -   return result;
    - }
    each n in range(number)
      if separator && n!== 0 && (number - n) % 3 === 0
        span.separator
          = separator
      .digit -

block content
  block game
    .game-container
      .score-display
        .segmented-counter.score-counter
          .head.-icon: span.icon- power
          +counter(20, '.')
          .tail Teeny Yald
      .view-frame#animated-sansa
      .progress-display
        .segmented-counter.loop-counter
          .head.-icon: span-.icon- loop
          +counter(4)
        .timeline-bar
          .timeline
            canvas.display(width = 0, height = 0)
            canvas.hits(width = 0, height = 0)
            canvas.progress(width = 0, height = 0)
  div.bottom-gradient

// Add extra scripts
block append scripts
  if debug
    script(src = config.baseUrl + 'scripts/vendor/crafty-0.6.4.js')
  else
    script(src = config.baseUrl + 'scripts/vendor/crafty-0.6.4.min.js')
  script(src = config.baseUrl + 'scripts/game.js')
