doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Teeny Yald
  meta(name='description', content= 'A new Yeogurt application')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
  link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css')

body
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  nav.navbar-default.navbar-fixed-top
    .container-fluid
      <!-- Brand and toggle get grouped for better mobile display -->
      .navbar-header
        include _collapse.jade
        a.navbar-brand(href= config.baseUrl) Teeny Yald
      <!-- Collect the nav links, forms, and other content for toggling -->
      .collapse.navbar-collapse#main-navbar-collapse
        ul.nav.navbar-nav
          li 
            a(href= config.baseUrl + 'game') Game
          li
            a(href= config.baseUrl + 'credits') Credits
  
  block content
  
  code.version= 'v'+site.version
  
  div.bottom-gradient
  
  block scripts
    script(src= config.baseUrl + 'scripts/vendor/jquery-2.1.4.min.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src= config.baseUrl + 'scripts/main.js')

</html>
