// scss-lint:disable PlaceholderInExtend
@import 'base';

// .yeogurt-info {
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 500px;
//   text-align: center;
// }
//
// .logo {
//   margin-top: 15px;
// }


img {
  @extend .image-responsive;
}


.page-header {
  .slogan {
    @extend .text-capitalize;
  }
}

.row {
  padding-bottom: 5em;
}

$lime-green: rgb(158, 217, 49);
$energized: $lime-green;
$deadly: #f00;

.energized {
  color: $energized;
  font-weight: bold;
}

.deadly {
  color: $deadly;
  font-weight: bold;
}

.paradox {
  color: #a066ff;
  font-weight: bold;
}

$magenta: #f0f;
$lime: #0f0;
$cyan: #0ff;

.magenta-shadow {
  text-shadow: 0 0 2em $magenta;
}

.lime-shadow {
  text-shadow: 0 0 2em $lime;
}

.cyan-shadow {
  text-shadow: 0 0 2em $cyan;
}
