extends ../_layouts/base

block content
  .container
    h1 Credits
    p Thank you so much to all of these people:
    ul
      li IRC folk from <a href="http://skaia.net">Skaia.net</a>, for the support and playtesting
      li <em>Shitty Anime Club</em>, because you rock (and the moral support)
      li <a href="http://craftyjs.com">Crafty.js</a> folk for the library, the game wouldn't exist without you and your effort
      
    h2 Licenses
    p This site and/or game use the following licensed material:
    ul
      li <a href="https://icomoon.io/#icons-icomoon">IcoMoon Icon Set</a> © 2014 Roonas Licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
